@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('./bgg.jpg') no-repeat center center/cover;
  width: calc(100vw + 40px);
  height: calc(100vh + 40px);
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
  filter: blur(0px);
}

.text {
  color: #fff;
  font-size: 4rem;
}
