@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background: cover center no-repeat; */
  height: 80vh;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  position: relative;
  flex: 0.5;
  /* 현재 가로 비율 even */
  transition: flex 0.7s ease-in;
  /* 사이즈 변화 외에 스무스 하게 넘어가는 효과 */
}

.panel h3 {
  font-size: 20px;
  position: absolute;
  left: 20px;
  bottom: 5px;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  /* 마지막 : 딜레이 */
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
